<section id="descubre-section">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 680px;">
            <div class="col-lg-6">
                <div class="center-relative">
                    <div class="subtitle">
                        <h3>Lorem ipsum dolor sit amet sit</h3>
                    </div>
                    <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row" style="height:50%;width: 691px; margin:0;">
                    <div class="col-lg-6 p-0">
                        <div class="rectangle-black center" style="margin-left:15px;">
                            <div class="center">
                                <span class="icon icon-diamond" style="width:40px;height: 37px;"></span>
                                <h4>Lorem ipsum dolor sit</h4>
                                <p>From pixel-perfect icons and scalable vector graphics, to full user flows and interactive prototypes, Sketch is the perfect place to design, create and test.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="rectangle center" style="margin-left: -15px;">
                            <div class="center">
                                <span class="icon icon-pie-chart" style="width:38px;height: 38px;"></span>
                                <h4>Lorem ipsum dolor sit</h4>
                                <p>From pixel-perfect icons and scalable vector graphics, to full user flows and interactive prototypes, Sketch is the perfect place to design, create and test.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:50%;width: 691px; margin:0;">
                    <div class="col-lg-6 p-0">
                        <div class="rectangle center" style="margin-left:15px;">
                            <div class="center">
                                <span class="icon icon-diamond" style="width:40px;height: 37px;"></span>
                                <h4>Lorem ipsum dolor sit</h4>
                                <p>From pixel-perfect icons and scalable vector graphics, to full user flows and interactive prototypes, Sketch is the perfect place to design, create and test.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="rectangle-black center" style="margin-left: -15px;">
                            <div class="center">
                                <span class="icon icon-pie-chart" style="width:38px;height: 38px;"></span>
                                <h4>Lorem ipsum dolor sit</h4>
                                <p>From pixel-perfect icons and scalable vector graphics, to full user flows and interactive prototypes, Sketch is the perfect place to design, create and test.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>