<section id="info-section">
    <div class="container" style="height: 100%;">
        <div class="row center-relative" style="height: 100%;">
            <div class="col-lg-3 col-md-12 col-sm-12 p-0">
                <div class="center-relative">
                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Disfruta de la vida</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>                
                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Disfruta de la vida</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Disfruta de la vida</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>
                </div>

            
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-info">
                <div class="center-relative">
                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Cero colas</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Disfruta de la vida</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <img class="fb" src="/assets/icons/icon-ok-copy-3.svg">
                        </div>
                        <div class="col-10">
                            <h4>Disfruta de la vida</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
    
                        </div>
                        <div class="col-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet ante quis fermentum laoreet. Pellentesque nisl metus, pellentesque efficitu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 p-0">
                <div class="video center-relative">

                </div>
            </div>
        </div>
    </div>
</section>