h4{
  font-family: 'Rubik-bold', sans-serif;   
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
p{
  font-family: 'Rubik-medium', sans-serif;   
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: center;
  color: #898b8c;
}
strong{
    font-family: 'Rubik-medium', sans-serif;   
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.top-icon{
    width:70px;
    position: absolute;
    top: 35%;
    left:50%;
    margin-left:-35px;
}