<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="assets/img/bantrablogoblanco.png" style="margin-left: -5px;" width="220px;" alt="">
        <h3>
          Avenida La Reforma 6-20 zona 9, Ciudad de Guatemala
          Contáctanos al 1755
        </h3>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 siguenos">
            <h2>
              SÍGUENOS
            </h2>
            <div class="row">
              <div class="col-3">
                <i class="fab fa-linkedin fa-2x" (click)="openURL('https://www.linkedin.com/company/grupo-financiero-bantrab/')"></i>
              </div>
              <div class="col-3">
                <i class="fab fa-twitter fa-2x" (click)="openURL('https://twitter.com/BANTRAB')"></i>
              </div>
              <div class="col-3">
                <i class="fab fa-facebook-square fa-2x" (click)="openURL('https://www.facebook.com/Bantrab')"></i>
              </div>
              <div class="col-3">
                <i class="fab fa-instagram fa-2x" (click)="openURL('https://www.instagram.com/bantrab/')"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
          </div>
        </div>
        
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row" style="margin-top:52px">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <ul class="list-unstyled text-small">
              <li><a href="https://www.bantrab.com.gt/noticias/consolida-tus-deudas-y-da-el-primer-paso-para-mejorar-tu-salud-financiera/">BanConsejos</a></li>
              <li><a href="https://www.bancaprende.gt">BancAprende</a></li>
              <li><a href="https://www.bantrab.com.gt/emprendoporti">Emprendo por ti</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <ul class="list-unstyled text-small">
              <li><a href="https://www.bantrab.com.gt">Bantrab</a></li>
              <li><a (click)="goSection('blog')">Blog</a></li>
              <li><a (click)="goSection('header-form')">Aplica a tu crédito</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <ul class="list-unstyled text-small">
              <li><a href="https://wa.me/50224102600">Ayuda</a></li>
              <li><a href="https://www.bantrab.com.gt/banca-personal">Productos Bantrab</a></li>
              <li><a href="https://www.youtube.com/channel/UCTgqCK8Bq7Q8gd9tM4VZNlA">La Chiripa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
