
<section id="header-form" class="section-credit" >
<div class="container" >
        <div class="title">
            <h3>Lorem ipsum dolor sit amet sit</h3>
            <h1>¿Estás listo para conseguir <strong>todas tus metas?</strong></h1>
        </div>
        <p >Para solicitar tu crédito ingresa los siguientes datos</p>
        <div class="row align-items-center form-credito" >
            <div class="col-lg-9 p-0" style="height: 105px;" >
                <!--
    <div class="title">
                    <h4>Para solicitar tu crédito ingresa los siguientes datos</h4>
                </div>
                -->
                <div class="row m-0" >
                    <div class="col-lg-4" style="text-align:center;">
                        <div class="row m-0" style="width: 80%; text-align:center;margin-right: auto !important;margin-left: auto !important;margin-top: 16px !important;">
                            <span class="icon icon-dpi" style="width:21px;height: 29px;"></span>
                            <p style="margin-top:5px;margin-left: 5px;">Ingresa tu DPI</p>
                        </div>
                        <input [(ngModel)]="dpi" type="text" style="border: solid 1px #d3d2d4;" />
                    </div>
                    <div class="col-lg-4" style="text-align:center;">
                        <div class="row m-0" style="width: 85%;height: 37px; text-align:center;margin-right: auto !important;margin-left: auto !important;margin-top: 17px !important;">
                            <span class="icon icon-quetzal" style="width:20px;height: 21px;margin-top: 5px;margin-left: 5px;"></span>
                            <p style="margin-left: 5px;width:180px;">Ingresa el monto que necesitas</p>
                        </div>
                        <input  style="margin-top:0px;margin-left: 5px;border: solid 1px #d3d2d4;" [(ngModel)]="monto" type="text" />       
                    </div>
                    <div class="col-lg-4" style="text-align:center;">
                        <div class="row m-0" style="width: 80%; text-align:center;margin-right: auto !important;margin-left: auto !important;margin-top: 20px !important;">
                            <span class="icon icon-calendar" style="width:22px;height: 23px;margin-left: 5px;"></span>
                            <p style="margin-top:5px;margin-left: 5px;margin-bottom: 12px;">Plazo</p>
                        </div>
                        <select class="form-control"  id="exampleFormControlSelect1" >
                            <option value="0" hidden>Plazo</option>
                            <option value="4">48 MESES</option>
                            <option value="3">36 MESES</option>
                            <option value="2">24 MESES</option>
                            <option value="1">12 MESES</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="height: 105px;padding: 0;border-left:solid 1px #d3d2d4;">
                <button type="button" (click)="goCreditForm()" class="btn btn-continuar">Continuar</button>
            </div>
        </div>
        <h4>Al continuar aceptas los <strong>términos y condiciones</strong></h4>
    
</div>
</section>
